altgraph==0.17
asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
dj-database-url==0.5.0
Django==3.1.3
django-crispy-forms==1.9.2
django-heroku==0.3.1
et-xmlfile==1.0.1
Flask==1.1.2
future==0.18.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
Js2Py==0.70
kiwisolver==1.3.1
lxml==4.5.2
MarkupSafe==1.1.1
oauthlib==3.1.0
openpyxl==3.0.5
pefile==2019.4.18
Pillow==8.0.1
psycopg2==2.8.6
pycryptodome==3.9.8
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pyjsparser==2.7.1
PyJWT==1.7.1
pyparsing==2.4.7
PyPDF2==1.26.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
tzlocal==2.1
urllib3==1.25.10
Werkzeug==1.0.1
whitenoise==5.2.0
xlrd==1.2.0
